---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import ContactIcon from "../icons/Contact.astro";
import SocialPill from "../icons/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Luggage from "../icons/Luggage.astro";
import ExperienceI from "../icons/ExperienceI.astro";
import Footer from "../components/Footer.astro";
import ProjectsIcon from "../icons/Projects.astro";
import Projects from "../components/Projects.astro";
import Online from "../icons/Online.astro";
import SkillsIcon from "../icons/Skills.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import SplineEmbed from "../components/SplineViewer.astro";
---

<Layout
  title="Portfolio Joan - Desarrollador Web"
  description="Hola! Soy Joan Pastillo, un apasionado desarrollador full stack con +5 meses de experiencia creando soluciones digitales robustas y escalables. Con un fuerte enfoque en la calidad y la innovación, me especializo en llevar ideas desde el concepto hasta la implementación final, asegurando que cada proyecto no solo cumpla, sino que supere las expectativas."
>
  <!-- <main class="px-10"> -->
  <main>
    <!-- Imagen -->
    <SplineEmbed />
    <div class="px-10">

    </div>
  </main>
</Layout>

<!-- <Footer /> -->
