---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import ContactIcon from "../icons/Contact.astro";
import SocialPill from "../icons/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Luggage from "../icons/Luggage.astro";
import ExperienceI from "../icons/ExperienceI.astro";
import Footer from "../components/Footer.astro";
import ProjectsIcon from "../icons/Projects.astro";
import Projects from "../components/Projects.astro";
import Online from "../icons/Online.astro";
import SkillsIcon from "../icons/Skills.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Portfolio Joan - Desarrollador Web"
  description="Hola! Soy Joan Pastillo, un apasionado desarrollador full stack con +5 meses de experiencia creando soluciones digitales robustas y escalables. Con un fuerte enfoque en la calidad y la innovación, me especializo en llevar ideas desde el concepto hasta la implementación final, asegurando que cada proyecto no solo cumpla, sino que supere las expectativas."
>
  <main class="px-10">
    <!-- Imagen -->

    <SectionContainer class="py-20 pb-24" id="top">
      <div class="flex">
        <img
          class="rounded-full w-12 h-12"
          src="/projects/me.webp"
          alt="Joan photo"
        />
        <!-- <span
          class="relative top-0 right-4 w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"
        ></span> -->
        <h1
          class="text-white md:text-4xl text-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-8 lg:pb-10 ml-3 text-gradient"
        >
          Hey, soy Joan
          <a
            href="https://www.linkedin.com/in/joan-pastillo-donoso-7823272a1/"
            target="_blank"
            class="flex justify-center items-center"
          >
            <!-- <Online class="size-1 md:size-6 me-1"/>  -->
            <!-- <Badge>Disponible</Badge> -->
          </a>
        </h1>
      </div>

          <h2
            class="text-lg lg:text-2xl opacity-80 text-wrap max-w-[700px] text-white dark:text-white"
          >
            <div class="flex items-center space-x-2">
              <!-- <ExperienceI class="size-5" /> -->
              <span> - Estudiante de Ingeniería de Software. </span>
            </div>
            <div class="flex items-center space-x-2">
              <!-- <ExperienceI class="size-5" /> -->
              <span> - Desarrollador Full Stack en EasyEcommerce. </span>
            </div>
            <div class="flex items-center space-x-2">
              <!-- <ExperienceI class="size-5" /> -->
              <span> - CEO Oson </span>
            </div>
            <br />
            Desarrollador
            <span class="text-yellow-300">de</span>
            <span class="text-blue-500"> Imbabura, </span>
            <span class="text-red-500">Ecuador</span> me especializo en Desarrollo
            Web, Desarrollo Móvil y Administración de Bases de Datos.
          </h2>
          <nav class="flex gap-4 mt-5 flex-wrap text-white dark:text-white">
            <SocialPill href="https://github.com/2k12">
              <GitHubIcon class="size-4 md:size-6" />
              GitHub
            </SocialPill>
            <SocialPill
              href="https://www.linkedin.com/in/joan-pastillo-donoso-7823272a1/"
            >
              <LinkedInIcon class="size-4 md:size-6" />
              LinkedIn
            </SocialPill>
            <SocialPill href="#">
              <MailIcon class="size-4 md:size-6" />
              jeipige@gmail.com
            </SocialPill>
          </nav>
        </div>
       
      </div>
    </SectionContainer>
    <SectionContainer id="experiencia" class="pt-10 section">
      <h2
        class="text-4xl font-semibold mb-6 flex gap-x-3 items-center text-gradient"
      >
        <!-- <Luggage class="size-9" /> -->
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos" class="pt-10 section">
      <h2
        class="text-4xl font-semibold mb-6 flex gap-x-3 items-center text-gradient"
      >
        <!-- <ProjectsIcon class="size-9" /> -->
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="habilidades" class="pt-10 section">
      <h2
        class="text-4xl font-semibold mb-6 flex gap-x-3 items-center text-gradient"
      >
        <!-- <SkillsIcon class="size-9" /> -->
        Habilidades
      </h2>
      <Skills />
    </SectionContainer>
    <SectionContainer id="contacto" class="pt-10 section">
      <h2
        class="text-4xl font-semibold mb-6 flex gap-x-3 items-center text-gradient"
      >
        <!-- <ContactIcon class="size-9" /> -->
        Cuentame Sobre tu Proyecto
      </h2>
      <Contact />
    </SectionContainer>
    <Footer />
  </main>
</Layout>
