<header
  class="fixed flex flex-col z-10 bg-zinc-900 w-full sm:justify-center items-center py-4  mx-auto text-white dark:text-white"
>
  <nav class="flex sm: gap-4 sm:gap-x-10 ">
    <a href="/" class="hover:text-violet-500">Inicio</a>
    <a href="#experiencia" class="hover:text-violet-500">Experiencia</a>
    <a href="#proyectos" class="hover:text-violet-500">Proyectos</a>
    <a href="#contacto" class="hover:text-violet-500">Contacto</a>
  </nav>
</header>
